*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}
.nav {
    background-color: rgb(5, 74, 143);
    color: aliceblue;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    height: 4em;
}
.logo {
    margin-right: 50px;
    padding: 10px;
}