.container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: repeat(4, 150px);
    grid-template-areas:
      "header header header"
      "content content 👾"
      "content content ."
      "footer footer footer";
  }
  
  .item1 {
    grid-area: header;
    background-color: purple;
  }
  
  .item2 {
    grid-area: content;
    background-color: gray;
  }
  
  .item3 {
    grid-area: 👾;
    background-color: pink;
  }
  
  .item4 {
    grid-area: footer;
    background-color: #bada55;
  }

  
  