/* align-items

Свойство, с помощью которого можно выровнять элементы по вертикальной оси внутри грид-контейнера.
Возможные значения:
start — выравнивает элемент по начальной (верхней) линии. */
.item {
  min-height: 100px;
  min-width: 100px;
  background-color: green;
}

.container {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
  place-items: end center;
}